# BDD
behave
playwright
allure-behave
behave-html-formatter
allure-python-commons




# Faker para dados falsos
#Faker

# Relatórios (opcional)
#allure-behave==2.8.16

# Pytest + pytest-bdd se quiser usar Pytest
#pytest==7.4.4
#pytest-bdd==6.1.1
